<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <add key="userid" value="#{username}" />
  <add key="password" value="#{password}" />
  <add key ="datasource" value="#{host},#{port}" />
  <add key="database" value="#{database}" />
  <add key="directory" value="Maps" />
  <add key="useStatementNamespaces" value="false" />
  <add key="provider" value="sqlServer2.0" />
  <add key="name" value="sqlserver"/>
</settings>
