<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <properties resource="Config\Database_#{database}.config"/>
  <settings>
    <setting useStatementNamespaces="${useStatementNamespaces}"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>
  <providers resource="Config\providers.config"/>
  <database>
    <provider name="${provider}"/>
    <dataSource name="${name}" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};Connection Timeout=15"/>
  </database>

  <sqlMaps>
    <sqlMap resource="${ServicePath}\Maps\Pagination.xml"/>
    <sqlMap resource="${ServicePath}\Maps\#{domainname}.xml"/>
  </sqlMaps>
</sqlMapConfig>
